<h1>BG Selection</h1>

<%- if @duty_debtor %>
  <p><%= "@#{@duty_debtor.slack_username}" %> has not finished a BG duty.</p>
  <%= form_tag("/pay_duty_debt") do %>
    <%= submit_tag "Select @#{@duty_debtor.slack_username} as BG" %>
  <% end %>
<% end %>

<p>Please tick any engineers below that you want to exclude from the selection:</p>
<%= form_tag do %>
<ul>
  <%- @available_engineers.each do |engineer| %>
    <li>
      <%= check_box_tag :"excluded[#{engineer.id}]" %>
      <%= "@#{engineer.slack_username}" %>
    </li>
  <% end %>
</ul>
<%= submit_tag "Roll the Dice and Select BG!" %>
<% end %>
